<install-steps>
  <install-step title="Installation">
    <p>
      Please see our Servarr Wiki for installation instructions.
      <a href="https://wiki.servarr.com/prowlarr/installation#linux">Link</a>
    </p>
  </install-step>
</install-steps>
