<div class="text-center pt-5">
  <br><br><br><br><br><br>
  <img src="logo/128.png" class="rounded mx-auto d-block"/>
</div>

<div class="text-center main-title">
  <h1>Prowlarr</h1>
  <h3>The Ultimate Indexer Manager</h3>
</div>

<div class="col-sm-12" margin-bottom-md>
  <img src="img/indexer-index.png" class="img-responsive center-block"/>
</div>