<install-steps>
  <install-step title="Installation">
    <p>
      The Prowlarr team provides
      <a href="https://prowlarr.servarr.com/v1/update/develop/updatefile?os=bsd&arch=x64&runtime=netcore">builds for BSD</a>.<br/>
      Installation instructions are not provided.
    </p>
  </install-step>
</install-steps>
